@import url("./colors.css");
* {
    border: none;
    border-radius: 0;
    font-family: Iosevka;
    font-size: 11pt;
    min-height: 0;
}
window#waybar {
    opacity: 0.7;
    background: @background-darker;
    color: @foreground;
    border-bottom: 2px solid @background;
}
#workspaces button {
    padding: 0 10px;
    background: @background;
    color: @foreground;
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background-image: linear-gradient(0deg, @selection, @background-darker);
}
#workspaces button.focused,
#workspaces button.active {
    background-image: linear-gradient(0deg, @purple, @selection);
}
#workspaces button.urgent {
    background-image: linear-gradient(0deg, @red, @background-darker);
}
#taskbar button.active {
    background-image: linear-gradient(0deg, @selection, @background-darker);
}
#tray, #power-profiles-daemon, #custom-weather, #pulseaudio, #battery, #clock, #mpris {
    padding-left: 10px;
}
#clock {
    padding-right: 10px;
}
